---
layout: default
---
<header style="background-image: url({{ site.baseurl }}{{ page.featured_image }});">
  <div class="container post-container">
    <a href="{{ site.baseurl }}/" class="home_button"></a>
    <div class="post-external-links ">
      <h1>{{ site.title }}</h1>
      <span class="tagline">{{ site.tagline }}</span>
      <ul class="meta">
        <li><a class="portfolio-link" href="https://github.com/jmp3833">Github</a></li>
        <li><a class="portfolio-link" href="https://twitter.com/JPeterson__">Twitter</a></li>
        <li><a class="portfolio-link" href="https://linkedin.com/in/jmp3833">Linkedin</a></li>
        <li><a class="portfolio-link" href="mailto:jmp3833@rit.edu">Email</a></li>
        <li><a class="portfolio-link" href="{{ site.baseurl }}/staticcontent/resume.pdf">Resume</a></li>
        <li><a class="portfolio-link" href="http://profile.pmc.org/JP0479">PMC Profile</a></li>
      </ul>
    </div>
    <div class="inner-container">
      <h1>{{ page.title }}</h1>
      <ul class="meta">
        <li>
          <span>
            Published
          </span>
          {{ page.date | date_to_string }}
        </li>
        <li>
          <span>
            Category
          </span>
          {{ page.categories }}
        </li>
      </ul>
    </div>
    <ul class="pagination">
      {% if page.previous.url %}
      <li class="previous">
        <a href="{{ site.baseurl }}{{ page.previous.url }}">
          Previous
        </a>
      </li>
      {% endif %}
      {% if page.next.url %}
      <li class="next">
        <a href="{{ site.baseurl }}{{ page.next.url }}">
          Next
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</header>

<article>
  <div class="container">
    {{ content }}
  </div>
</article>
